ess:
  nginx:
    route:
      ingressPrefix: stream
      ingressSuffix: .apps.silver.devops.gov.bc.ca

nats:
  config:
    jetstream:
      fileStore:
        pvc:
          size: 1Gi
  container:
    merge:
      resources:
        limits:
          cpu: 250m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 64Mi
